<header class="py-3">
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-xl">
      <div class="d-flex justify-content-between align-items-center w-100">
        <a class="navbar-brand" href="./index.html">
            <img src="/assets/images/logo.svg" alt="logo">
        </a>
        <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse d-flex" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item me-3">
              <a class="nav-link py-2 px-7 fw-normal" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link py-2 px-7 fw-normal" href="#">關於職旅</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-2 px-7 fw-normal" href="#">聯絡我們</a>
            </li>
          </ul>

          <div>
            <a href="./member_data.html" class="d-flex align-items-center">
              <img class="person-mokumaru rounded-circle border border-1 border-natural-300 me-2" src="/assets/images/avatar.png" alt="avatar">
              <p class="">Mokumaru</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


